/*-----------------------------------
    1. PATRONES DE COLORES 
-----------------------------------*/
/*-----------------------------------
    2. ESTILOS BOTONES 
-----------------------------------*/
.btn {
  border-radius: 0.5rem;
  border-width: 0.2rem;
  padding: 0.6rem 2rem;
  font-weight: bold; }

/*-----------------------------------
    3. TIPOGRAFIA 
-----------------------------------*/
html {
  font-size: 13px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #131213; }

/*-----------------------------------
    4. ESTILOS COLOR PRINCIPAL 
-----------------------------------*/
.bg-primary {
  background-color: #913535 !important; }

.text-primary {
  color: #913535 !important; }

/*Estilos .btn-outline-primary*/
.btn-outline-primary {
  color: #bbbbbb !important;
  border-color: #913535 !important; }

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #913535 !important;
  border-color: #913535 !important; }

.btn-outline-primary:active {
  color: #fff !important;
  background-color: #913535 !important;
  border-color: #913535 !important; }

.btn-outline-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(145, 53, 53, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(145, 53, 53, 0.5) !important; }

/*-----------------------------------
    5. ESTILOS COLORES SECUNDARIOS 
-----------------------------------*/
.bg-secondary {
  background-color: #283148 !important; }

.text-secondary {
  color: #283148 !important; }

.bg-light {
  background-color: #bbbbbb !important; }

.bg-info {
  background-color: #e9eec9 !important; }

.text-info {
  color: #e9eec9 !important; }

/*-----------------------------------
    6. ESTILOS COLOR TRANSPARENTE 
-----------------------------------*/
.bg-transparent {
  background-color: transparent !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/*-----------------------------------
    7. ESTILOS MENU DE NAVEGACION 
-----------------------------------*/
#menu-navegacion {
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#menu-navegacion button {
  border: none;
  outline: 0; }

.boton-menu::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c9";
  font-size: 2rem;
  color: #fff; }

.icono-cerrar::before {
  content: "\f00d";
  position: relative;
  left: 0.2rem; }

/* Estilos para los enlaces del menu */
.navbar-dark .navbar-nav .nav-link {
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.navbar-dark .navbar-nav .nav-link::after {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  font-weight: 900;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #3a4769; }

.navbar-dark .navbar-nav .nav-link:hover::after {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg); }

.navbar-dark .navbar-nav .nav-link.active {
  background-color: #283148; }

.navbar-open {
  background-color: #283148 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/*MENU FIJO*/
.menu-fijo {
  background-color: #0d1017 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/*-----------------------------------
    8. ESTILOS SLIDER PRINCIPAL 
-----------------------------------*/
.main-slide {
  height: 37rem;
  z-index: -1;
  top: 0; }

.main-slide::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0.5; }

/*-----------------------------------
    9. SECCION #SERVICIOS 
-----------------------------------*/
#servicios {
  position: relative;
  z-index: 2; }

#servicios .rom-top::after {
  content: "";
  position: absolute;
  background-color: #283148;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) translateY(50%) rotate(45deg);
          transform: translateX(-50%) translateY(50%) rotate(45deg);
  z-index: -1; }

.anim-servicios:hover i,
.anim-servicios:hover h5 {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out; }

/*-----------------------------------
    10. SECCION #CONOCENOS 
-----------------------------------*/
.h-galery {
  height: 35rem; }

.d-grid {
  display: grid; }

#conocenos .shadow img {
  position: relative;
  height: 35rem;
  min-width: 100%;
  min-height: 100%; }

#conocenos .shadow::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 1; }

.swiper-container {
  position: relative;
  width: 100%;
  height: 80%;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 40px) / 2);
  border-radius: 0.5rem;
  overflow: hidden;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.swiper-pagination {
  position: relative;
  bottom: 3rem; }

.swiper-pagination span {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px; }

.swiper-pagination-bullet-active {
  background-color: #913535; }

.img-fluid-2 {
  min-width: 100%;
  min-height: 100%; }

.img-fluid-3 {
  width: 100%;
  height: 100%; }

/*-----------------------------------
    11. SECCION #BARRA-CONTACTO 
-----------------------------------*/
#barra-contacto {
  position: relative;
  z-index: 2; }

#barra-contacto .rom-bottom::after {
  content: "";
  position: absolute;
  background-color: #283148;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  z-index: -1; }

/*-----------------------------------
    12. COMENTARIOS
-----------------------------------*/
#btn-testimonios {
  color: #283148 !important; }

#btn-testimonios:hover {
  color: #fff !important; }

#btn-testimonios:active {
  color: #fff !important; }

#schema {
  padding: 1.1rem;
  text-align: center;
  font-size: 0.9rem; }

/*-----------------------------------
    13. CITA
-----------------------------------*/
#c-galeria,
#comentarios,
#contacto {
  background-image: url(../images/patron.png); }

/*-----------------------------------
    14. CONTACTO
-----------------------------------*/
#tel i {
  color: #20cb42; }

#mail i {
  color: #d64c3e; }

/*-----------------------------------
    MEDIA QUERIES 
-----------------------------------*/
@media (min-width: 768px) {
  .navbar-dark .navbar-nav .nav-link {
    padding: 0.7rem 1.3rem;
    border-radius: 0.6rem; }

  .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #283148; }

  .navbar-dark .navbar-nav .nav-link::after {
    content: ""; }

  #principal h1 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2; }

  #principal h3 {
    font-size: 1.75rem; } }
@media (min-width: 900px) {
  html {
    font-size: 16px; }

  .main-slide,
  .h-galery {
    height: 37.5rem;
    /*600px*/ }

  #conocenos .shadow img {
    height: 37.5rem;
    /*600px*/
    min-width: 100%; }

  #servicios .rom-top::after {
    left: 41.6666%; }

  #barra-contacto .rom-bottom::after {
    left: 41.6666%; } }
@media (min-width: 1200px) {
  .main-slide,
  .h-galery {
    height: 44rem;
    /*700px*/ }

  #conocenos .shadow img {
    height: 44rem;
    /*700px*/
    min-width: 100%; }

  #barra-contacto .rom-bottom::after {
    width: 0;
    height: 0; }

  #servicios .rom-top::after {
    width: 0;
    height: 0; } }
/*# sourceMappingURL=style.css.map */